@import "tailwindcss";

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/quicksand/Quicksand.ttf") format("woff2");
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-quicksand: "Quicksand", sans-serif;
  --color-white: #fff;
  --color-black: oklch(37.3% 0.034 259.733);
  --color-green: #6ee7b7;
  /* --color-light: #f9f9f9; */
}

@layer utilities {
  .text-title {
    /* @apply; */
  }

  .full-h-menu-mobile {
    @apply h-[calc(100vh-4rem)] mt-16;
  }
}

body {
  font-family: var(--font-quicksand), sans-serif;
}

/** TODO: ELIMINAR LO QUE NO SE NECESITE */
.custom-opacity {
  opacity: 0;
}

@keyframes fadeInBottomRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 100%, 0);
    transform: translate3d(100%, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.animate-entrance {
  animation: fadeInBottomRight 0.8s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.fadeInUp {
  animation: fadeInUp 0.8s ease-in-out;
}
